$default-font: "Arial", sans-serif;
$accent: orange;
//$text: #333;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
//$grid-gutter-width: 30px;
//$grid-columns: 12;
$grid-breakpoints: (xs: 330, sm: 410px, md: 700px, lg: 840px, xl: 975px);
//$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);
//
//$gutter: $grid-gutter-width;
